#epAuthorshipToggleAuthorList {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 1em 0;
}

#authorsList .author {
    padding-left: 0.4em;
    padding-right: 0.4em;
}