<div id="epAuthorshipToggleAuthorList" class="epEmbedFloatingToolbar">
    <p>
        <span data-l10n-id="epEmbedFloatingToolbar.authorList.authors">Authorsː</span>
        <span id="authorsList"><span class="author" style="background-color: rgb(230, 231, 109);">Bat Zorro</span></span>
    </p>
</div>