<li class="separator"></li>
<li data-type="button">
    <a id="epAuthorshipToggle" class="" data-l10n-id="pad.toolbar.clearAuthorship.title">
        <button class="buttonicon buttonicon-clearauthorship" data-l10n-id="pad.toolbar.clearAuthorship.title"></button>
    </a>
</li>